<div class="form">
  <h2>Log in</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-element">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-element">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="form-element">
      <button type="submit">Login</button>
    </div>
  </form>
</div>