<div *ngIf="!showPopup" div class="home-container">
  <div class="home-element counter">
      <span>Count: {{ counter }}</span>
  </div>
  <div class="home-element button">
      <button (click)="increment()">Increment</button>  
  </div>
</div>

<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
      <p>Current Counter: {{ counter }}</p>
      <p>Next Counter: {{ nextCounter }}</p>
      <div class="popup-buttons">
          <button class="confirm-button" (click)="confirm()">Confirm</button>
          <button class="cancel-button" (click)="cancel()">Cancel</button>
      </div>
  </div>
</div>
